---
---

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page .subpage {
    height: 277mm; /* 297 - 2 *10 */
    outline: 10mm white solid;
    padding: 0;
}

.page.first {
    padding: 0 10mm;
}

.page .subpage {
    outline: 0;
}

.block {
    margin: 3mm 0;
}

@-moz-document url-prefix() {
    .block {
        margin: 2mm 0;
    }
}

.block.first {
    margin-top: 0;
}

.block.last {
    margin-bottom: 0;
}

.block, .block > div {
    width: 100%;
    display: block;
    overflow: hidden;
}

.profile {
    height: 37mm;
    width: 210mm;
    margin: 0 auto 0 -10mm;
    padding: 7mm 10mm 0;
    background: rgba(0, 119, 170, 0.1);
}

.profile .name {
    float: left;
    width: 60mm;
}

.profile .contacts {
    float: left;
    width: 89mm;
}

.profile .avatar {
    float: right;
    width: 34mm;
    padding-top: 3mm;
    margin-top: -3mm;
    height: 30mm;
    position: relative;
}

.profile .avatar img {
    width: 23mm;
    border-radius: 50%;
}

.profile .languages img {
    width: 5mm;
    height: 5mm;
    position: absolute;
    right: 0;
    border: 1px solid rgba(0, 119, 170, 0.3);
}

.profile .languages img:nth-child(1) {
    top: 0;
}

.profile .languages img:nth-child(2) {
    top: 6mm;
}

.profile .languages img:nth-child(3) {
    top: 12mm
}

.profile .languages img:nth-child(4) {
    top: 18mm
}

.profile .languages img:nth-child(5) {
    top: 24mm;
}

.wrapper {
    font-family: monaco, Consolas, Menlo, Courier, monospace;
}

.wrapper .property, .wrapper .property a {
    color: #07a;
}

.project-name {
    text-decoration: underline;
}

.wrapper .value {
    color: #222222;
}

ul.value li:before {
    content: "\2014\a0";
}

ul.value {
    margin: 0 0 0 -2mm;
    list-style: none inside;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.wrapper .comment {
    color: #777;
}

.wrapper .indent {
    margin-left: 4mm;
    padding-right: 4mm;
}

.profile .indent {
    margin-left: 6mm;
}

.wrapper a {
    color: #222222;
}


@media screen {
    .page {
        float: left;
        margin: 10mm;
    }

    #cv-link {
        display: none;
    }
}
